<footer class="mo-footer text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mt-5">
        <p class="mt-5 fs-5 fw-bold">تابعونا عبر الشبكات الاجتماعية</p>
        <a href="https://www.facebook.com/MostakarProperty/" target="_blank">
          <i class="mo-color fa-brands fa-facebook-f fa-2x mx-2 mt-4"></i>
        </a>
        <!-- <a href="">
          <i class="mo-color fa-brands fa-twitter fa-2x mx-2 mt-4"></i>
        </a>
        <a href="">
          <i class="mo-color fa-brands fa-linkedin-in fa-2x mx-2 mt-4"></i>
        </a> -->
        <a href="https://www.youtube.com/channel/UCkZLssqXs81g0pEgf6HOxkA" target="_blank">
          <i class="mo-color fa-brands fa-youtube fa-2x mx-2 mt-4"></i>
        </a>
        <a href="https://www.instagram.com/mostakarproperty_tr/" target="_blank">
          <i class="mo-color fa-brands fa-instagram fa-2x mx-2 mt-4"></i>
        </a>
        <h6 class="m-2 fw-bold mt-4 mb-3">معلومات حول امتلاك العقارات</h6>
        <p>الدعم الفني والتقني</p>
        <p>الشؤون القانونية</p>
        <p>تواصل مع خدمة العملاء</p>
      </div>
      <div class="col-md-6 col-lg-3 mt-5">
        <p class="mt-5 fs-4 mb-4 fw-bold">تواصل معنا مباشرة</p>
        <div>
          <h6 class="col-2 mb-3 pb-3 contact-header">تركيا</h6>
          <span> <i class="mo-color fas fa-building mx-2"></i></span>
          <span>Merkez Mah. Cendere CAd. Seba Suites Sitesi No:16/1 B Blok D:95 Kağıthane/İstanbul</span>
          <br />
          <span><i class="mo-color fa-solid fa-phone mx-2 mt-3"></i></span>
          <span>00905449067771</span>
          <br />
          <span><i class="mo-color fa-solid fa-envelope mx-2 mt-3"></i></span>
          <a href="">Info&#64;mostakar.com</a>
        </div><hr>
        <div>
          <h6 class="col-2 mb-3 pb-3 contact-header">دبي</h6>
          <span> <i class="mo-color fas fa-building mx-2"></i></span>
          <span>37 شارع الأصايل - الخليج التجاري - دبي - الإمارات العربية المتحدة, Dubai, United Arab Emirates</span>
          <br />
          <span><i class="mo-color fa-solid fa-phone mx-2 mt-3"></i></span>
          <span>00971558408771</span>
          <br />
          <span><i class="mo-color fa-solid fa-envelope mx-2 mt-3"></i></span>
          <a href="">Info&#64;mostakar.com</a>
        </div>
        
      </div>
      <div class="col-md-6 col-lg-3 mt-5">
        <p class="mt-5 fs-4 mb-4 fw-bold">روابط سريعة تهمك</p>
        <a routerLink="/turkey-projects"><p>عقارات تركيا</p></a>
        <a routerLink="/dubai-projects"><p>عقارات دبي</p></a>
        <a href="#mo-about"><p>عن مستقر العقارية</p></a>
        <a href="#mo-service"><p>خدمات مستقر</p></a>
        <a href="#mo-turkey"><p>الجنسية التركية</p></a>
        <a href="#mo-contact"><p>تواصل معنا</p></a>
      </div>
      <div class="col-md-6 col-lg-3 mt-5 mb-5">
        <p class="mt-5 fs-4 mb-4 fw-bold">مستقر العقارية</p>
        <p class="mt-3">يسعى مستشارينا العقاريين إلى وضع صورة كاملة عن العقار من إيجابيات وسلبيات، هذا ما نقوم به في مستقر العقارية، إذ نسعى دومًا إلى الواقعية وعرض البيانات الصحيحة والحقيقية من خلال الأرقام والإحصائيات لتحليل واقع السوق العقاري التركي، والتركيز على المناطق الاستثمارية المربحة والمناطق السكنية والاجتماعية.
          نحن بانتظاركم في مقرنا في قلب إسطنبول لإلقاء نظرة على    فريق العمل المتميز، تأكد أنك ستجد كل ما تطمح إليه، بل وأكثر.
         </p>
      </div>
    </div>
    <br/>
    <div class="bg-footer py-3">
      <div class="row">
        <div class="w-75 m-auto text-center">
          <span class="fs-5">جميع الحقوق محفوظة 2022 | مستقر العقارية - تصميم وتطوير
            <a routerLink="/developers" class=" fw-bold">
              فريق المبرمجين اى تى اى
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
