.mo-footer{
  background-color: #262626;
}
.mo-bgcolor{
  background-color: #95c253;
}
.mo-color{
  color: #95c253;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: #95c253;
}
.bg-footer{
  background-color: #272727;
}
.contact-header{
  border-bottom: 1px solid #95c253;
}
