<section id="mo-service" class="bg-white py-5">
    <div class="container" data-aos="zoom-in" data-aos-duration="2000">
      <!-- <p class="text-center pt-5 pb-3 fs-2 fw-bold" data-aos="zoom-in" data-aos-duration="1000">خدمات مستقر العقارية</p>
        <p class="text-center text-secondary fs-5" data-aos="fade-down" data-aos-duration="1000">يسعى مستشارينا العقاريين إلى وضع صورة كاملة عن العقار من إيجابيات وسلبيات، هذا ما نقوم به في مستقر العقارية، إذ نسعى دومًا إلى الواقعية وعرض البيانات الصحيحة والحقيقية من خلال الأرقام والإحصائيات لتحليل واقع السوق العقاري التركي، والتركيز على المناطق الاستثمارية المربحة والمناطق السكنية والاجتماعية.
        </p> -->
      <div class="row justify-content-between parent-height my-5">
        <div class="options-cursor col-xl-6 col-lg-6 my-4" (click)="navigateDubaiList()">
          <div class="card bg-image2 text-center shadow bg-body rounded border-0">
            <div class="card-body px-4 d-flex justify-content-center align-items-center" style="height:310px;">
                <h2 class ="h2-option text-center mo-bgcolor text-light fw-bold ">مشاريعنا في دبي</h2>
                <!-- <img alt="cover" src="/src/assets/images/turkey-option-cover.jpg">
              <i class="fa-regular fa-circle-check" style="color: #95c253; font-size: 3rem;"></i>
              <p class="card-title mt-5 mb-3 fs-4 fw-bold">خدمة الاستشارات العقارية والجولات الميدانية</p>
              <p class="card-text">فريقنا الاستشاري المتخصص مستعد لتقديم كافة تفاصيل التملك في تركيا عبر الهاتف، ومن خلال جولات عقارية ميدانية، أو افتراضية على مدار الساعة 7/24.</p> -->
            </div>
          </div>
        </div>
        <div class="options-cursor col-xl-6 col-lg-6 my-4" (click)="navigateList()">
          <div class="card text-center bg-image1 shadow bg-body rounded border-0">
            <div class="card-body px-4 d-flex justify-content-center align-items-center" style="height:310px;">
              <h2 class ="h2-option text-center mo-bgcolor text-light fw-bold">مشاريعنا في تركيا</h2>
              <!-- <i class="fa-regular fa-circle-check" style="color: #95c253; font-size: 3rem;"></i>
              <p class="card-title mt-5 mb-3 fs-4 fw-bold">خدمات ما قبل الشراء</p>
              <p class="card-text">إجراء الحجز الفندقي.<br>الاستقبال من المطار والنقل للفندق.<br>فتح حساب بنكي في تركيا.<br>استخراج الرقم الضريبي.</p> -->
            </div>
          </div>
        </div>
        <!-- <div class="col-xl-4 col-lg-6 my-4" data-aos="flip-right" data-aos-duration="2000">
          <div class="card text-center shadow bg-body rounded border-0">
            <div class="card-body my-5 px-4" style="height:310px;">
              <i class="fa-regular fa-circle-check" style="color: #95c253; font-size: 3rem;"></i>
              <p class="card-title mt-5 mb-3 fs-4 fw-bold">قيادة عميلة شراء عقار في تركيا وتسليم صك الملكية</p>
              <p class="card-text">سنكون معكم في الكشف عن سلامة العقار في الدوائر الرسمية التركية.<br>قيادة مفاوضات ثمن العقار للحصول على أعلى خصم.<br>سنتأكد من صحة بنود البيع الأولى حسب القانون التركي، وننجز عملية نقل ملكية العقار (الطابو).</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 my-4" data-aos="flip-left" data-aos-duration="3000">
          <div class="card text-center shadow bg-body rounded border-0">
            <div class="card-body my-5 px-4" style="height:310px;">
              <i class="fa-regular fa-circle-check" style="color: #95c253; font-size: 3rem;"></i>
              <p class="card-title mt-5 mb-3 fs-4 fw-bold">خدمات ما بعد البيع</p>
              <p class="card-text">استلام العقار حسب الشروط والمواصفات المتفق عليها.<br>إدارة العقار (تأجير، بيع، دفع الفواتير، متابعة كاملة).<br>فرش العقار وتجهيزه بكافة الخدمات اللازمة للاستخدام.<br>فتح عدادات الماء والكهرباء والغاز والإنترنت للعقار.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 my-4" data-aos="flip-right" data-aos-duration="3000">
          <div class="card text-center shadow bg-body rounded border-0">
            <div class="card-body my-5 px-4" style="height:310px;">
              <i class="fa-regular fa-circle-check" style="color: #95c253; font-size: 3rem;"></i>
              <p class="card-title mt-5 mb-3 fs-4 fw-bold">إنجاز إجراءات الجنسية التركية</p>
              <p class="card-text">بعد استخراج الطابو سيتولى فريقنا القانوني تقديم ملفكم للحصول على إقامة مستثمر في تركيا.<br>سيتقدم فريقنا القانوني بملفكم للحصول على الجنسية التركية وجواز السفر التركي.<br>سننجز لكم معاملة الإعفاء الضريبي من الضريبة العقارية.</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  