<nav class="navbar navbar-expand-lg navbar-light bg-white d-flex fixed-top" id="mo-navbar">
  <div class="container">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <a class="logo navbar-brand m-auto" href="#" data-aos="zoom-in" data-aos-duration="2000"></a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent" data-aos="fade-down" data-aos-duration="1000">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item me-2">
                      <a class="nav-link fs-5" href="#">الرئيسية</a>
                  </li>
                  <li class="nav-item me-2">
                      <a class="nav-link fs-5" routerLink="turkey-projects" routerLinkActive="active">عقارات تركيا</a>
                  </li>
                  <li class="nav-item me-2">
                    <a class="nav-link fs-5" routerLink="dubai-projects" routerLinkActive="active">عقارات دبي</a>
                </li>
                  <li class="nav-item me-2">
                      <a class="nav-link fs-5" href="#mo-about">عن مستقر</a>
                  </li>
                  <li class="nav-item me-2">
                      <a class="nav-link  fs-5" href="#mo-service">خدمات مستقر</a>
                  </li>
                  <li class="nav-item me-2">
                    <a class="nav-link  fs-5" href="#mo-turkey">الجنسية التركية</a>
                </li>
                  <li class="nav-item me-2">
                      <a class="nav-link fs-5" href="#mo-contact">تواصل معنا</a>
                  </li>
              </ul>

          </div>

  </div>
</nav>
