<section id="mo-turkey" class="bg-light py-5">
  <div class="container" data-aos="zoom-in" data-aos-duration="2000">
    <p class="text-center pt-5 pb-3 fs-2 fw-bold" >الجنسية التركية</p>
      <p class="text-center text-secondary fs-5">الجنسية التركية مجانًا من مستقر العقارية</p>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 my-4">
        <div class="card text-center shadow bg-body rounded border-0">
          <div class="card-body my-5 px-4" style="height:365px;">
            <i class="fa-regular fa-circle-check" style="color: #95c253; font-size: 3rem;"></i>
            <p class="card-title mt-5 mb-3 fs-4 fw-bold">كيفية الحصول على الجنسية التركية بالاستثمار</p>
            <p class="card-text">الاستثمار العقاري يعد واحدة من الفرص المتاحة للمستثمرين في تركيا حاليًا للحصول على الجنسية التركية.<br>إن كنت تنوي شراء عقار في تركيا بقيمة 400 ألف دولار فأكثر، فالفرصة لديك متاحة لتحصل على الجنسية التركية إضافة لعقارك الذي اشتريته، وعليه يقوم فريق المستشارين العقاريين بمساعدتك والوقوف بجانبك لاختيار أفضل عقار مناسب لاحتياجك.
              </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 my-4">
        <div class="card text-center shadow bg-body rounded border-0">
          <div class="card-body my-5 px-4" style="height:365px;">
            <i class="fa-regular fa-circle-check" style="color: #95c253; font-size: 3rem;"></i>
            <p class="card-title mt-5 mb-3 fs-4 fw-bold">التقديم على الجنسية التركية مجانًا من مستقر العقارية</p>
            <p class="card-text">نسعد في مستقر العقارية بتقديم خدمات متعددة، بدايةً من لحظة وصول طائرتك إلى الأراضي التركية مرورًا باختيار العقار المناسب ومفروشاته الجديدة والأثاث المنزلي حتى استلامك الجواز التركي.<br>
              نقدم لكم الحصول على الجواز التركي خلال 90 يوم فقط من تملك شقتك ونقوم أيضا بإنهاء كافة الإجراءات القانونية الخاصة بكم.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
