<section id="mo-about" class="bg-light py-5">
  <div class="container" data-aos="zoom-in" data-aos-duration="2000">
    <div class="text-center">
      <p class="py-5 fs-2 fw-bold" >مستقر العقارية</p>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-6">
        <p class="text-secondary fs-5 my-4" >اتجه العديد من المستثمرين العرب و الأجانب بدءًا من عام 2017 وحتى الآن  للتملك و الاستثمار في تركيا هذا السبب جعل لعملية شراء العقار في تركيا اهتمام كبير لأي مستثمر سواء عربيًا أو أجنبيًا، ابتداءً من اختيار العقار المناسب، وحتى استلام سند الملكية (الطابو).</p>
        <p class="text-secondary fs-5 my-4" > لكن أهمية هذه العملية تتمثل في مستشار عقاري أي متخصص ومصرح له رسمياً من الحكومة التركية بتقديم الاستشارات، إذ أن تواجد المستشار العقاري معك في كل خطوة من خطوات التملك والاستثمار في تركيا أمر مهم للغاية لما لها من كونها شركة تركية موثقة من قبل الحكومة التركية تتمثل بها الاحترافية والمصداقية.</p>
        <p class="text-secondary fs-5 my-4" >مستقر العقارية هي شركة تركية متخصصة في الاستشارات العقارية والقانونية في التملك والاستثمار العقاري يمثل في (الشقق، الفيلات) يقع مقرها الرئيسي في قلب إسطنبول منطقة شيشلي، نقدم لكم كادر من المستشارين العقاريين التي تتخطي خبرتهم بالمجال العقاري التركي لأكثر من خمس سنوات والمؤهل والمصرح له بتقديم استشارات عقارية احترافية لعملائنا الكرام.</p>
      </div>
      <div class="col-lg-12 col-xl-6">
        <div class="card my-2 shadow" >
          <p class="card-header text-center text-white mo-bgcolor fs-5 fw-bold">المصداقية</p>
          <div class="card-body">
            <p class="card-text text-secondary">منذ بداياتنا في العام 2019م، ونحن نسعى فقط لتقديم المعلومات الصحيحة والاستشارات الصادقة حول السوق العقاري في تركيا، لنحقق هدفنا الرئيسي وهو الاستمرارية نحو إرضاء العميل.</p>
          </div>
        </div>
        <div class="card my-2 shadow">
          <p class="card-header text-center text-white mo-bgcolor fs-5 fw-bold">اختيار العميل</p>
          <div class="card-body">
            <p class="card-text text-secondary">كادر المستشارين العقاريين قادرون على الاستماع جيدًا لطلب العميل ومواصفات العقار التي يرغب تملكها أو الاستثمار بها وإعطاء استشارة كاملة نحو العقار المناسب وإمكانية إضافة خيارات أخرى تناسب طلبه، حريصون جداً على وقت العميل وأهميته، وسرعة الاستجابة لطلبه من قِبل المحترفين لدينا.</p>
          </div>
        </div>
        <div class="card my-2 shadow">
          <p class="card-header text-center text-white mo-bgcolor fs-5 fw-bold">مستشارينا العقاريين</p>
          <div class="card-body">
            <p class="card-text text-secondary">يسعى مستشارينا العقاريين إلى وضع صورة كاملة عن العقار من إيجابيات وسلبيات هذا ما نقوم به في مستقر العقارية إذ نسعى دومًا إلى الواقعية وعرض البيانات الصحيحة والحقيقية من خلال الأرقام والإحصائيات لتحليل واقع السوق العقاري التركي، والتركيز على المناطق الاستثمارية المربحة والمناطق السكنية والاجتماعية.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p class="py-5 fs-5 text-secondary">نحن بانتظاركم في مقرنا في قلب إسطنبول لإلقاء نظرة على    فريق العمل المتميز، تأكد أنك ستجد كل ما تطمح إليه، بل وأكثر.</p>
    </div>
  </div>

</section>
