a.whats{
  background-color:#95c253;
  height: 70px;
  width: 70px;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
i.whatsapp{
  color: white;
  font-size: 3rem;
}
