.mo-color{
  color: #95c253;
}
a{
  text-decoration: none;
}
a:hover{
  color: #95c253;
}
form{
  border-radius: 1.5rem;
}
form .mo-bgcolor{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
button{
  background-color:#95c253;
}
h1{
  font-size: 3rem;
}
.mo-bgcolor {
  background-color: #95c253;
}
